* { margin: 0; padding: 0; }

body {
  height: 100vh;
  background: -webkit-linear-gradient(top, #071E22, #186877);
}

/* 78A1BB */
/* palette : https://coolors.co/186877-43543b-56242b-1b150e-f7f3e3*/
/* les arbres rouges : 8E3B46 */
/* les troncs pales : AF9164 */
/* quelques lignes presques blanches F7F3E3 */
/* montagne 362B1C */

.ground {
  z-index: 1;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #43543B;
}

.mountains {
  z-index: 2;
  position: absolute;
  bottom: 14%;
  left: 10%;
}

.bigstar {
  top: 30%;
  left: 20%;
  z-index: 2;
  position: absolute;
}

.stars {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.cloud1 {
  z-index: 3;
  position: absolute;
  top: 20%;
  right: 4%;
  /* animation: bounce 2s ease-in-out 0s infinite alternate; */
}

.moon {
  z-index: 2;
  position: absolute;
  top: 10%;
  right: 10%;
}

.tree1 {
  z-index: 2;
  position: absolute;
  bottom: 16%;
  right: 10%;
}

.tree2 {
  z-index: 2;
  position: absolute;
  bottom: 9%;
  right: 13%;
}

.tree3 {
  z-index: 2;
  position: absolute;
  bottom: 11%;
  right: 3%;
}
